@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, safari, opera*/
  }

  .hidden-scrollbar {
    -ms-overflow-style: none; /*IE and EDGE*/
    scrollbar-width: none; /* Firefox*/
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(223 calc(1 * 6.7%) 20.6% / 1);
  border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202225;
}
